terminal:
  background: colorScheme
  recoverTabs: false
  copyOnSelect: true
  profiles:
    - name: GitBash
      sessionOptions:
        command: '{{ userprofile }}\scoop\apps\git-with-openssh\current\bin\bash.exe'
        args:
          - '--login'
          - '-i'
        env: {}
        runAsAdministrator: false
  profile: gitbash
  colorScheme:
    name: deep
    foreground: '#cdcdcd'
    background: '#000000'
    cursor: '#d0d0d0'
    colors:
      - '#000000'
      - '#d11600'
      - '#37c32c'
      - '#e3c421'
      - '#5c6bfd'
      - '#dd5be5'
      - '#6eb4f2'
      - '#e0e0e0'
      - '#535353'
      - '#f4152c'
      - '#01ea10'
      - '#ffee1d'
      - '#8cb0f8'
      - '#e056f5'
      - '#67ecff'
      - '#f4f4f4'
hotkeys:
  profile:
    gitbash:
      - - Ctrl-F1
    cmd-(clink):
      - - Ctrl-F2
  shell: {}
  # zoom
  zoom-in:
    - - Ctrl-=
  zoom-out:
    - - Ctrl-;
  # tab or window
  new-tab:
    - - Ctrl-T
  settings: []
  new-window: []
  toggle-window: []
  toggle-fullscreen:
    - - F11
  close-tab: []
  reopen-tab: []
  next-tab:
    - - Ctrl-PageDown
  previous-tab:
    - - Ctrl-PageUp
  split-right:
    - - Alt-H
  split-bottom:
    - - Alt-V
  pane-nav-up:
    - - Ctrl-Up
  pane-nav-down:
    - - Ctrl-Down
  pane-nav-left:
    - - Ctrl-Left
  pane-nav-right:
    - - Ctrl-Right
  # Disable keys to use feature of shell (not terminal)
  home: []
  end: []
  clear: []
  previous-word: []
  next-word: []
  delete-previous-word: []
  delete-next-word: []
serial: {}
ssh: {}
appearance:
  frame: full
  vibrancy: false
enableWelcomeTab: false
pluginBlacklist:
  - serial
