{
    "$schema": "https://aka.ms/terminal-profiles-schema",
    //
    // global-settings
    //
    "defaultProfile": "{% raw %}{{% endraw %}{{ guid_gitbash }}{% raw %}}{% endraw %}",
    "disabledProfileSources": [
        "Windows.Terminal.Azure"
    ],
    "tabWidthMode": "compact",
    "disableAnimations": true,
    "copyOnSelect": true,
    "showTerminalTitleInTitlebar": false,
    //
    // profile-settings
    //
    "profiles": {
        "defaults": {
            "fontSize": 11,
            "fontFace": "Consolas"
        },
        "list": [
            {
                "guid": "{% raw %}{{% endraw %}{{ guid_gitbash }}{% raw %}}{% endraw %}",
                "commandline": "%USERPROFILE%/scoop/apps/git-with-openssh/current/bin/bash.exe --login -i",
                "startingDirectory": "%USERPROFILE%",
                "name": "Git Bash",
                "icon": "%USERPROFILE%/scoop/apps/git-with-openssh/current/mingw64/share/git/git-for-windows.ico",
                "suppressApplicationTitle": true,
                "colorScheme": "deep",
                "closeOnExit": "always"
            }
        ]
    },
    //
    // color-schemes
    //
    "schemes": [
        {
            "name": "deep",
            "cursorColor": "#d0d0d0",
            "selectionBackground": "#d0d0d0",
            "background": "#000000",
            "foreground": "#cdcdcd",
            "black": "#000000",
            "blue": "#5c6bfd",
            "cyan": "#6eb4f2",
            "green": "#37c32c",
            "purple": "#dd5be5",
            "red": "#d11600",
            "white": "#e0e0e0",
            "yellow": "#e3c421",
            "brightBlack": "#535353",
            "brightBlue": "#8cb0f8",
            "brightCyan": "#67ecff",
            "brightGreen": "#01ea10",
            "brightPurple": "#e056f5",
            "brightRed": "#f4152c",
            "brightWhite": "#f4f4f4",
            "brightYellow": "#ffee1d"
        }
    ]
}
