{
    "$schema": "https://aka.ms/terminal-profiles-schema",
    "copyOnSelect": true,
    "defaultProfile": "{% raw %}{{% endraw %}{{ guid_gitbash }}{% raw %}}{% endraw %}",
    "disableAnimations": true,
    "disabledProfileSources":
    [
        "Windows.Terminal.Azure"
    ],
    "profiles":
    {
        "defaults":
        {
            "fontFace": "Consolas",
            "fontSize": 11
        },
        "list":
        [
            {
                "closeOnExit": "always",
                "colorScheme": "deep",
                "commandline": "%USERPROFILE%/scoop/apps/git-with-openssh/current/bin/bash.exe --login -i",
                "guid": "{% raw %}{{% endraw %}{{ guid_gitbash }}{% raw %}}{% endraw %}",
                "icon": "%USERPROFILE%/scoop/apps/git-with-openssh/current/mingw64/share/git/git-for-windows.ico",
                "name": "Git Bash",
                "startingDirectory": "%USERPROFILE%",
                "suppressApplicationTitle": true
            }
        ]
    },
    "schemes": [
        {
            "background": "#000000",
            "black": "#000000",
            "blue": "#5C6BFD",
            "brightBlack": "#535353",
            "brightBlue": "#8CB0F8",
            "brightCyan": "#67ECFF",
            "brightGreen": "#01EA10",
            "brightPurple": "#E056F5",
            "brightRed": "#F4152C",
            "brightWhite": "#F4F4F4",
            "brightYellow": "#FFEE1D",
            "cursorColor": "#D0D0D0",
            "cyan": "#6EB4F2",
            "foreground": "#CDCDCD",
            "green": "#37C32C",
            "name": "deep",
            "purple": "#DD5BE5",
            "red": "#D11600",
            "selectionBackground": "#D0D0D0",
            "white": "#E0E0E0",
            "yellow": "#E3C421"
        }
    ],
    "showTerminalTitleInTitlebar": false,
    "tabWidthMode": "compact"
}
